In [ ]:
#data load

import pandas as pd

df=pd.read_excel(r"E:\Down\analyst\sales_raw_500.xlsx")

In [ ]:
df

In [ ]:
#duplicate removes

df = df.drop_duplicates()

In [ ]:
df

In [ ]:
#fix date column

df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')

In [ ]:
df = df.dropna(subset=['Order_Date'])

In [ ]:
df

In [ ]:
df['Profit'] = df['Sales']-df['Cost']
df['Year'] = df['Order_Date'].dt.year
df['Month'] = df['Order_Date'].dt.month

In [ ]:
df

In [ ]:
df.to_csv(r"E:\Down\analyst\sales_cleaned.csv", index=False)

In [ ]:
#data python + Excel + SQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv(r"E:\Down\analyst\sales_cleaned.csv")

In [4]:
df

,Order_ID,Order_Date,Customer,Region,Product,Sales,Cost,Profit,Year,Month
0,1001,2023-01-13,Rohit,South,Mobile,23289,19118,4171,2023,1
1,1002,2023-10-07,Aman,West,Laptop,8905,5593,3312,2023,10
2,1003,2023-11-05,Rahul,South,Monitor,59987,39959,20028,2023,11
3,1004,2024-02-19,Rahul,South,Printer,49597,33892,15705,2024,2
4,1005,2024-01-26,Anjali,North,Laptop,54797,34468,20329,2024,1
...,...,...,...,...,...,...,...,...,...,...
477,1495,2023-10-18,Rahul,South,Monitor,46709,40931,5778,2023,10
478,1496,2023-04-24,Kiran,North,Printer,23434,16388,7046,2023,4
479,1497,2023-06-27,Anjali,South,Laptop,49007,35970,13037,2023,6
480,1498,2023-05-08,Aman,East,Tablet,19160,15636,3524,2023,5
481,1500,2023-10-07,Vikas,North,Printer,34567,22426,12141,2023,10

In [5]:
engine = create_engine('mysql+pymysql://root:16052004@localhost:3306/salesdb')

In [6]:
df.to_sql(name='sales_data',con=engine,if_exists='replace',index = False)

482